[CAPTURE]
img_pass = /Users/kawamataryou/PycharmProjects/cap/images
min_img_pass = /Users/kawamataryou/PycharmProjects/cap/min-images

[RESIZE]
tiny_key = RwskgYFv5mvmstHOpfs3ZOtPA9TmPCJO

[WRITE]
init_row = post_title,post_category,capture,url,post_type,post_status
post_type = post
post_status = publish
up_address = http://clinic/wp-content/themes/sage-8.5/dist/images/

[UPLOAD]
login_url = http://clinic/wp-login.php
login_id = ryo
login_pass = OORBoWQ&^D9WV8nB
import_url = http://clinic/wp-admin/admin.php?import=csv
img_up_pass = /Users/kawamataryou/vagrant-clinic/wordpress/wp-content/themes/sage-8.5/dist/images